header {
    height: 100px;
    background-color: #000000a3;
    border-radius: 50px;
    margin-bottom: 10px;
    /* margin-top: px; */
}

.button-formation {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#furst-btn-formation {
    height: 60px;
    width: 60px;
    border-radius: 30px;

}

#second-btn-formation {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.stade {
    height: 512px;
    width: 630px;
    background-image: url('stade.png')
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

#forward-left {
    position: relative;
    left: 120px;
    top: 30px;
}

#forward-center {
    position: relative;
    left: 289PX;
    top: -60px;

}

#forward-right {
    position: relative;
    left: 470px;
    top: -128px;
}

#center-left {
    position: relative;
    left: 60px;
    top: -100px;
}

#center-center {
    position: relative;
    left: 290PX;
    top: -120px;
}

#center-right {
    position: relative;
    left: 540px;
    top: -260px;
}

#deffence-left {
    position: relative;
    left: 45px;
    top: -200px;
}

#deffence-left-center {
    position: relative;
    top: -200px;
    left: 150px;
}

#deffence-right {
    position: relative;
    left: 560px;
    top: -438px;
}

#deffence-right-center {
    position: relative;
    top: -280px;
    left: 430px;
}

#gardien {
    position: relative;
    top: -390px;
    left: 290px;
}

.input-player-to-make {
    display: flex;
    justify-content: center;
}

.player-form {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.player-form input {
    padding: 10px;

}

.player-form button {
    padding: 10px;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer
}


#player-list {
    margin-top: 20px;
}

.player-card {
    position: relative;
    width: 200px;
    margin-top: 20px;
}

.player-card img {
    width: 100%;
}

.card-info {
    position: absolute;
    top: 50px;
    left: 30px;
    color: #000;
}

.player-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}




body {
    background-image: url('backrand.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.forward button {
    height: px;
    width: px;
    background-color: aliceblue;

}

.forward {
    width: 62.14px;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: azure;
}

.center {
    width: 62.14px;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: azure;
}

.deffence {
    width: 62.14px;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: azure;
}

.stadeAndGamers {
    display: flex;
    gap: 30px;
}

.stade {
    border-radius: 20px;
}


/* saniti yabda  */



.card-info p {
    margin: 5px 0;
}

.card-info .cf {
    color: blue;
    font-weight: bold;
}

.card-info .pac {
    color: green;
}

/* Ajoutez d'autres styles pour les autres classes si nécessaire */

/* .playerCard:hover{
    scale: 1.2;
} */

.stat {
    font-size: 7px;
}

.card-info h3{
    font-size: 15px;
    position: relative;
    left: 44px;
    top: -14px;
}

.positionPosition{
    position: relative;
    left: 59px;
    font-size: 20px;
    top: 156px;
}

.card-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imagePosition{
    width: 100px;
    position: relative;
    left: 20px;
    top: -54px;
}

.stat{
    font-weight: bold;
}

.cfPosition{
    position: relative;
    left: 6px;
    top: -165px;
    font-size: 10px;
}

.pacPosition{
    position: relative;
    left: -7px;
    top: -95px;
}

.shoPosition{
    position: relative;
    left: 16px;
    top: -126px;
}

.pasPosition{
    position: relative;
    left: 45px;
    top: -157px;
}

.driPosition{
    position: relative;
    left: 75px;
    top: -188px;
}

.defPosition{
    position: relative;
    left: 105px;
    top: -219px;
}

.phyPosition{
    position: relative;
    left: 132px;
    top: -250px;
}

.countryPosition{
    width: 25px;
    position: relative;
    left: 90px;
    top: -245px;
}

.clubPosition{
    width: 25px;
    position: relative;
    top: -270px;
    left: 25px;
}
.joueur{
    position: relative;
}

.player-card{
    position: relative;
}

.deffence .card-info{
    scale: 0.3;
    top: -170px;
    left: -25px;
    
}

.center .card-info{
    scale: 0.3;
    top: -170px;
    left: -25px;
    
}

.forward .card-info{
    scale: 0.3;
    top: -170px;
    left: -25px;
    
    
}

/* .formaton-carte-position{
    position: relative;
    top: -26px;
} */
.joueur .card-info {
    scale: 0.3;
    top: -144px;
    left: -24px;
}
.player-card {
    position: relative;
    width: 200px;
    margin-top: -7px;
}